<!DOCTYPE html>
<html>
<head>
  <title>Authent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <% if logged_in? %>
      <span>
        You're logged in as <%= current_user.name %>
      </span>
      <span>
        <%= link_to "Log out", logout_path %>
      </span>
    <% else %>
      <span>
        <%= link_to "Log in", login_path %>
      </span>
      <span>
        <%= link_to "Sign up", new_user_path %>
      </span>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
