<h1><%= @user.name %> Details</h1>

<p>
  Name: <%= @user.name %>
</p>

<p>
  Email: <%= @user.email %>
</p>

<p>
  Products: 
  <ul>
    <% @user.products.each do |product| %>
    <li><%= product.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Create new product", new_user_product_path(@user) %>
</p>

<p>
  Bids:
  <ul>
    <% @user.bids.each do |bid| %>
      <li><%= bid.product.name %>: $<%= bid.amount %></li>
    <% end %>
  </ul>
</p>